/* FORM CONTAINER */
/* MAIN CONTAINER */
.EB_MainCntr {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DESCRIPTION */
.EB_Description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.EB_Description > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.EB_Description > div > input {
  border: none;
  border-bottom: 1px dashed black;
  font-size: 20px;
  width: 200px;
}

.EB_Description > div > label > input {
  border: none;
  font-size: 25px;
  width: 192px;
}

.EB_Description > div > label {
  border-bottom: 1px dashed black;
}

.EB_Description > div input:focus {
  outline: none;
}

/* SHARE */
.EB_Share {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.EB_Share > div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.EB_Share > div > p:nth-of-type(2) {
  background-color: #ededed;
  border-radius: 20px;
  padding: 3px 10px;
  color: #5cc5a7;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: pointer;
}

.EB_Share > div > p:nth-of-type(2):hover {
  background-color: #d5d5d5;
}

/* OTHER BUTTONS */
.EB_OtherBtns {
  margin-top: 20px;
}

.EB_OtherBtns > button {
  width: 120px;
  height: 25px;
  border-radius: 10px;
  border: none;
  border: 1px solid #a5a5a5;
  cursor: pointer;
}

.EB_OtherBtns > button:nth-of-type(2) {
  margin-left: 20px;
}

/* SAVE AND CANCEL BUTTON */
.EB_SaveBtn {
  display: flex;
  margin-top: 20px;
  width: 92%;
  padding: 10px 20px;
  border-top: 1px solid #a5a5a5;
  justify-content: flex-end;
}

.EB_SaveBtn > button:nth-of-type(1) {
  background-color: red;
  color: white;
}

.EB_SaveBtn > button:nth-of-type(2) {
  margin-left: 10px;
  background-color: #41b795;
  border-color: #41b795;
  color: white;
}

/* CHOOSE PAYER CONTAINER */
.CP_MainCntr {
  height: min-content;
  width: 300px;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  background-color: #fff;
  transition: all 0.4s;
}

/* HEADING */
.CP_Heading {
  background-color: #5bc5a7;
  display: flex;
  justify-content: space-between;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
  padding: 0px 10px;
}

.CP_UsersCntr > div {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

/* USER CONTAINER */
.CP_UsersCntr > div > img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.CP_UsersCntr > div:hover {
  background-color: #eee;
  color: #666;
  cursor: pointer;
}

/* MULTIPLE PAYER CONTAINER */
.CP_PaidByMultPpl > p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  padding: 5px 0px;
  margin-bottom: 10px;
  text-align: center;
}

.CP_PaidByMultPpl:hover {
  background-color: #eee;
  color: #666;
  cursor: pointer;
}

.CP_PaidByMultPpl > p {
  font-size: 18px;
  font-weight: bold;
}

/* FORM */
.CP_PaidByMultPpl > form > div > div {
  padding: 0px 15px;
  padding-bottom: 10px;
}

.CP_PaidByMultPpl > form > div > div > p {
  margin-bottom: 5px;
}

.CP_PaidByMultPpl > form > div > div > input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 25px;
  width: 97%;
}

.CP_PaidByMultPpl > form > div > div > input:focus {
  outline: none;
  border: 1px solid #1cc29f;
}

.CP_PaidByMultPpl > form > button {
  margin: 10px 0px;
  margin-left: 15px;
}
